@import "bootstrap";
@import url('https://fonts.googleapis.com/css?family=Acme|Black+Han+Sans|PT+Serif');

body{
  background: image_url('yelpBackground.jpg');
  font-family: Frutiger, "Frutiger Linotype", Univers, Calibri, "Gill Sans", "Gill Sans MT", "Myriad Pro", Myriad, "DejaVu Sans Condensed", "Liberation Sans", "Nimbus Sans L", Tahoma, Geneva, "Helvetica Neue", Helvetica, Arial, sans-serif;
  min-width: 1020px;
  background-position: 50%;
  background-size: cover;
  padding-top: 2px;
  height: 570px;
}
.booyah-box {
  -moz-box-shadow: 1px 1px 2px 0 #d0d0d0;
  -webkit-box-shadow: 1px 1px 2px 0 #d0d0d0;
  box-shadow: 1px 1px 2px 0 #d0d0d0;
  background: image_url('');
  border: 1px solid #ccc;
  border-color: #e4e4e4 #bebebd #bebebd #e4e4e4;
  margin-top: 10px;
  margin-bottom: 15px;
  padding: 20px;
  border-radius: 15px 50px 30px 5px;
}

h1, h2, h3, h4, h5, h6 {
  margin:0;
  padding:0;
  font-family: 'PT Serif', serif;
  color: white;
}

.navbar{
  background: image_url('darkness.png');
  color: white;
  text-shadow: 2px 2px 4px #000000;
  box-shadow: 0px 1px 3px #2a2a2a;
}

.navbar-inverse .navbar-brand {
  color: #F2B713;
  font-family: Frutiger, "Frutiger Linotype", Univers, Calibri, "Gill Sans", "Gill Sans MT", "Myriad Pro", Myriad, "DejaVu Sans Condensed", "Liberation Sans", "Nimbus Sans L", Tahoma, Geneva, "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-weight: 600;
  letter-spacing: -0.3px;
  font-family: 'Black Han Sans', sans-serif;
  font-size:26px;
}

p{
  font-family: 'Acme', sans-serif;
  color: white;
}
i{
  font-family:'fira_sansbook';
  color: white;
  font-size:26px;
}
